<h1>Your Cart</h1>

<div id="cart-contents">
  <ul class="collection">
    <% @cart.projects.each do |cart_project| %>
      <div class="collection-item bottom-margin-20" id="<%= cart_project.title %>-button">
        <img class="right thumbnail col s1" src="<%= cart_project.image.url %>" alt='<%= cart_project.title %>'/>
        <h3 class="col s4"><%= cart_project.title %> — <%= number_to_currency(cart_project.amount) %></h3>
        <% if cart_project.retired? %>
          <p class="grey-text">(No longer available)</p>
        <% end %>
        <p class=""><%= cart_project.description %></p>
        <li class="right waves-effect waves-light btn grey lighten-4 grey-text"><%= link_to "Remove", cart_project_path(id: cart_project.id), method: :delete %></li>
        <div class="">
          <a class="col s3 btn-floating btn waves-effect waves-light grey lighten-4 grey-text"><%= button_to "+", cart_project_path({id: cart_project.id, adjustment: "increase"}), method: :patch %></a>
          <a class="col s3 btn-floating btn waves-effect waves-light grey lighten-4 grey-text"><%= button_to "-", cart_project_path({id: cart_project.id, adjustment: "decrease"}), method: :patch %></a>
        </div>
      </div>
    <% end %>
  </ul>

  <h2 class="top-margin-40">Complete Your Order</h2>
  <div class="collection">
    <div class="collection-item">
      <p><b>Number of Loans:</b> <%= @cart.total_count %></h5>
      <h5><b>Total Price:</b> <%= number_to_currency(@cart.total_amount) %></h5></br>
      <li class="bottom-margin-20 right waves-effect waves-light btn btn-large blue"><%= button_to "Checkout", checkout_path %></li>
    </div>
  </div>
</div>
