<div id="profile">
  <h2>Profile</h2>
  <p>
    <strong>First name: </strong><%= current_user.first_name %>
  </p>
  <p>
    <strong>Last name: </strong><%= current_user.last_name %>
  </p>
  <p>
    <strong>Username: </strong><%= current_user.username %>
  </p>

  <div id='user-<%= current_user.id %>-button' class="waves-effect waves-light btn blue">
    <%= button_to "Edit Profile", edit_user_path(current_user), method: :get %>
  </div>

  <div class="projects">
    <h3>Pending Projects</h3>
  </div>
</div>
