<h1>
  <% if @category.present? %>
    <%= @category.title.capitalize %> Stickers
  <% else %>
    <%= "All Stickers" %>
  <% end %>
</h1>

<div class="row">
  <% @stickers.each do |sticker| %>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <a href="<%= sticker_path(sticker.id) %>"><img class="max-width" src="<%= sticker.image.url(:original) %>"></a>
        </div>
        <div class="card-content">
          <p><%= sticker.description %></p>
        </div>
        <div class="card-action">
          <div id='<%= sticker.title %>-button' class="waves-effect waves-light btn blue">
            <%= button_to "Add to Cart", cart_stickers_path(sticker_id: sticker.id) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
