<div id="profile">
  <h2>Borrower Profile</h2>
  <div class="col s3 left">
    <a class="image-link"><img class="thumbnail circle" src="<%= current_user.image.url(:original) %>"></a>
  </div>
  <br></br>
  <div class="s4">
    <p>
      <b>First name: </b><%= current_user.first_name %>
    </p>
    <p>
      <b>Last name: </b><%= current_user.last_name %>
    </p>
    <p>
      <b>Username: </b><%= current_user.username %>
    </p>
    <p>
      <b>Bio: </b><%= current_user.bio %>
    </p>

  <div id='user-<%= current_user.id %>-button' class="waves-effect waves-light btn custom-blue">
    <%= button_to "Edit Profile", edit_user_path(@user.id), method: :get %>
  </div>

  <% if current_user.lender? %>
    <div id='user-<%= current_user.id %>-button' class="waves-effect waves-light btn custom-blue">
      <%= button_to "Lender Profile", lender_dashboard_path, method: :get %>
    </div>
  <% else %>
    <div id='user-<%= @user.id %>-button' class="waves-effect waves-light btn custom-blue">
      <%= button_to "Become a Lender", become_lender_path(@user.id), method: :put %>
    </div>
  <% end %>

  <h3>Your Current Projects</h3>
  <ul>
  <% current_user.projects.each do |project| %>
    <a class="image-link" href="<%= user_project_path(user: project.user.slug, id: project.slug) %>"><img class="thumbnail" src="<%= project.image.url(:original) %>"></a>
    <li>Project Title: <%= project.title %></li>
    <li>Project Status: <%= project.status %></li>
    <li>Goal Amount: $<%= project.goal_amount %></li>
    <li>Description: <%= project.description %></li>
    <li>Total Loans Received: $<%= project.total_loans_amount %></li>
    <li>Percent Funded: <%= project.percent_funded %>%</li>
    <br></br>
  <% end %>
  </ul>

  <div class="create-project waves-effect waves-light btn custom-green">
    <%= button_to "Create A New Project", new_borrower_project_path, method: :get %>
  </div>
</div>

</div>
