<div id="profile">
  <h2>Borrower Profile</h2>
  <div class="col s4">
    <a class="image-link"><img class="max-width" src="<%= current_user.image.url(:original) %>"></a>
  </div>
  <p>
    <strong>First name: </strong><%= @user.first_name %>
  </p>
  <p>
    <strong>Last name: </strong><%= @user.last_name %>
  </p>
  <p>
    <strong>Username: </strong><%= @user.username %>
  </p>
  <p>
    <strong>Bio: </strong><%= @user.bio %>
  </p>

  <div id='user-<%= current_user.id %>-button' class="waves-effect waves-light btn custom-blue">
    <%= button_to "Edit Profile", edit_user_path(@user.id), method: :get %>
  </div>

  <% if current_user.lender? %>
    <div id='user-<%= current_user.id %>-button' class="waves-effect waves-light btn custom-blue">
      <%= button_to "Lender Profile", lender_dashboard_path, method: :get %>
    </div>
  <% else %>
    <div id='user-<%= @user.id %>-button' class="waves-effect waves-light btn custom-blue">
      <%= button_to "Become a Lender", become_lender_path(@user.id), method: :put %>
    </div>
  <% end %>

  <h3>Your Current Projects</h3>
  <ul>
  <% current_user.projects.each do |project| %>
    <li>Project Title: <%= project.title %></li>
    <li>Project Status: <%= project.status %></li>
    <li>Goal Amount: $<%= project.goal_amount %></li>
    <li>Description: <%= project.description %></li>
    <li>Percent Funded: <%= project.percent_funded %>%</li>
    <br></br>
  <% end %>
  </ul>

  <div class="create-project waves-effect waves-light btn custom-green">
    <%= button_to "Create A New Project", new_borrower_project_path(current_user.username), method: :get %>
  </div>
</div>
