<div id="profile">
  <h2>Lender Profile</h2>
  <div class="col s4">
    <a class="image-link"><img class="max-width" src="<%= current_user.image.url(:original) %>"></a>
  </div>
  <p>
    <b>First name: </b><%= @user.first_name %>
  </p>
  <p>
    <b>Last name: </b><%= @user.last_name %>
  </p>
  <p>
    <b>Username: </b><%= @user.username %>
  </p>
  <p>
    <b>Bio: </b><%= current_user.bio %>
  </p>

  <h3>Loans Made</h3>
  <ul>
  <% @user.loans.each do |loan| %>
    <li>Project Title: <%= loan.project.title %></li>
    <li>Loan Amount: <%= loan.amount %></li>
  <% end %>
  </ul>

  <div id='user-<%= current_user.id %>-button' class="waves-effect waves-light btn custom-blue">
    <%= button_to "Edit Profile", edit_user_path(current_user.id), method: :get %>
  </div>

  <% if current_user.borrower? %>
    <div id='user-<%= @user.id %>-button' class="waves-effect waves-light btn custom-blue">
      <%= button_to "Borrower Profile", borrower_dashboard_path, method: :get %>
    </div>
  <% else %>
    <div id='user-<%= @user.id %>-button' class="waves-effect waves-light btn custom-blue">
      <%= button_to "Become a Borrower", become_borrower_path(current_user.id), method: :put %>
    </div>
  <% end %>
</div>
