<h1 id="top">
  <% if @category.present? %>
    <%= @category.title.capitalize %> Projects
  <% else %>
    <%= "All Projects" %>
  <% end %>
</h1>

<div class="row">
  <% @projects.each do |project| %>
    <div class="card col s12">
      <div>
        <div class="col s4">
          <a href="<%= project_path(project.id) %>"><img class="max-width" src="<%= project.image.url(:original) %>"></a>
        </div>
        <div class="col s7 offset-s1">
          <h5><%= project.title %></h5>
          <p><%= project.description %></p>
        </div>
        <div class="card-action col s7 offset-s1">
          <div class="center">
              <h5>75% Funded</h5>
          </div>
          <div class="center">
          <span id='<%= project.title %>-button' class="col s5 left waves-effect waves-light btn custom-blue">
            <%= button_to "Learn More", cart_projects_path(project_id: project.id) %>
          </span>
          <span id='<%= project.title%>-lend-button' class="col s5 right waves-effect waves-light btn custom-blue">
            <%= button_to "Lend", "#" %>
          </span>
        </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="center">
  <a class="waves-effect waves-light btn custom-blue" href="#primary-navigation">Back to top</a>
</div>
<br>
  
