<div id="sticker-details" class="row">

  <div class="divider"></div>

  <div class="col s5">
    <img class="max-width" src="<%= @sticker.image.url %>" alt='<%= @sticker.title %>'/>
  </div>

  <div class="col s6 top-margin-40">
    <div class="card gray lighten-5">
      <div class="card-content">
        <span class="card-title"><%= @sticker.title %></span>
        <span class="card-title right"><%= number_to_currency(@sticker.price) %></span>
        <% if @sticker.retired? %>
          <p class="card-title">(No longer available)</p>
        <% end %>
        <p><%= @sticker.description %></p>
      </div>
      <div class="card-action">
        <% unless @sticker.retired? %>
          <div class="waves-effect waves-light btn blue"><%= button_to "Add to Cart", cart_stickers_path(sticker_id: @sticker.id) %></div>
        <% end %>
      </div>
    </div>
  </div>

</div>
