<div id="loan-details">
  <h1>loan Details</h1>

  <p><b>loan number: </b><%= @loan.id %></p>
  <p><b>Purchaser: </b><%= @loan.user.first_name %> <%= @loan.user.last_name %></p>
  <p><b>Purchaser's Address: </b>
    <%= @loan.user.street_address %>,
    <%= @loan.user.city %>,
    <%= @loan.user.state %>,
    <%= @loan.user.zip %>
  </p>
  <p><b>Date loaned: </b><%= @loan.created_at.strftime("%B %d, %Y") %></p>
  <p><b>Status: </b><%= @loan.status.capitalize %></p>
  <p><b>Total Price: </b><%= number_to_currency(@loan.loan_stickers.map { |os| os.sticker.price * os.quantity }.sum) %></p>
  <p><b>loan Created At: </b><%= @loan.created_at.strftime("%B %d, %Y at %H:%M:%S") %></p>
  <p><b>Status of loan Completion or Cancellation: </b>
    <% if @loan.finished? %>
    <%= "loan Finished" %>
    <% else %>
    <%= "loan Not Finished" %></p>
    <% end %>
  <p><b>Timestamp of Completion or Cancellation: </b>
    <% if @loan.finished? %>
    <%= @loan.updated_at.strftime("%B %d, %Y at %H:%M:%S") %>
    <% else %>
    <%= "N/A" %></p>
    <% end %>
</div>
