<h1><%= @category.title.capitalize %> Projects</h1>

<div id='project' class="row">
  <% @category.projects.each do |project| %>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <a id='<%= project.title %>-link' href="<%= project_path(project.id) %>"><img src="<%= project.image.url %>"></a>
        </div>
        <div class="card-content">
          <p><%= project.description %></p>
        </div>
        <div class="card-action">
          <div class="waves-effect waves-light btn blue"><%= button_to "Add to Cart", cart_projects_path(project_id: project.id) %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
